<!--
/**
 * Blackbird Quick Category Save
 *
 * NOTICE OF LICENSE
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@bird.eu so we can send you a copy immediately.
 *
 * @category        Blackbird
 * @package         Blackbird_QuickCategorySave
 * @copyright       Copyright (c) Blackbird (https://black.bird.eu)
 * @author          Thibaud Ritzenthaler (hello@bird.eu)
 * @license         MIT
 * @support         https://github.com/blackbird-agency/magento-2-quick-category-save/issues/new
 */
-->
<config>
    <type name="Magento\Catalog\Controller\Adminhtml\Category\Save">
        <plugin name="Blackbird_QuickCategorySave::saveAction" type="Blackbird\QuickCategorySave\Plugin\QuickSave" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Category" >
        <plugin name="Blackbird_QuickCategorySave::removeCategoryProducts" sortOrder="1000" type="Blackbird\QuickCategorySave\Plugin\Catalog\Model\ResourceModel\Category" />
    </type>
</config>
